<div class="container-fluid text-center mt-5">
    <img src="~/images/404-Page-image.png" class=" img-fluid cancle-img" alt="">
    <p class="h1 text-center">No Mission Found</p>
    <button type="submit " class="btn btn-outline-danger   rounded-pill mt-5 "> Submit New Mission <i class="bi bi-arrow-right text-danger"></i> </button>
</div>