@using CI_PLATFORM.Entities.ViewModels
@model CardsViewModel


<link rel="stylesheet" href="~/css/HomeGrid.css">


@if (TempData["logins"] != null)
{
    <script type="text/javascript">
         toastr.options = { "closeButton": true, "progressBar": true };
        toastr.success('@TempData["logins"]')
    </script>
}


<hr class="d-none d-md-block m-0">

@{
    Html.RenderPartial("_navbar2");
}

<hr>

<div class="container mt-3" id="filter-button">
</div>

<div class="container">
    <div class="row">
        <div class="col-md-9 col-sm-12"></div>
        <div class="col-md-3 col-sm-12 d-flex justy">
            <div class="dropdown h-dropdown">
                <select class="form-select w-100 d-inline-flex" aria-label="Default select example" onchange="temp()" id="sort">
                    <option selected>Sort by</option>
                    <option value="1">New to Old</option>
                    <option value="2">Old to New</option>
                    <option value="3">Favorite Mission</option>
                    <option value="4">Total Seates A</option>
                    <option value="5">Total Seates D</option>
                    @*<option value="6">Top Themes</option>
                    <option value="7">Most Ranked</option>
                    <option value="8">Top Favourite</option>*@
                </select>
            </div>
            <div class="">

                <a id="grid"><i class="bi bi-grid"></i></a>
            </div>
            <div class="">

                <a id="list"><i class="bi bi-list"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="container">

    @{
        Html.RenderPartial("_FilterMission");
    }

</div>

