@using CI_PLATFORM.Entities.ViewModels
@model CardsViewModel
<link rel="stylesheet" href="~/css/HomeGrid.css">

<hr class="d-none d-md-block">

@{
    Html.RenderPartial("_navbar2");
}

<hr>

<div class="container">

   
    @*<div id="grid-view">*@
        <div id="grid">

            @{

                Html.RenderPartial("_GridCard");

            }
        </div>
    @*</div>*@
    @*<div id="list-view">*@
        <div id="list">

            @{

                Html.RenderPartial("_ListCard");

            }
        </div>
    @*</div>*@

</div>





<script>
     window.onload = opengrid();
    function opengrid(){
        console.log("Grid");
       var div1 = document.getElementById("list");
       var div2 = document.getElementById("grid");
       div1.style.display = 'none';
       div2.style.display = 'block';
        console.log("Done");
    }
      function openlist(){
          console.log("List");
       var div1 = document.getElementById("list");
       var div2 = document.getElementById("grid");
       div1.style.display = 'block';
       div2.style.display = 'none';
       console.log("Done");
    }

</script>

