@using CI_PLATFORM.Entities.ViewModels
@model StoryListingViewModel

<link rel="stylesheet" href="~/css/StoryListing.css">



<hr class="d-none d-md-block">


    @{
    Html.RenderPartial("_navbar2");
}



<div class="card mt-3">
    <div class="bg">
        <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" class="banner" alt="">
        <div class="banner-header pt-5">

            <p class="text-light lorem d-flex justify-content-center ">
                Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Dolorum debitis alias
                doloribus impedit natus praesentium molestiae nulla fugiat alias doloribus impedit natus
                praesentium
                molestiae nulla fugiat.
            </p>
            <div class="apply2">
                <button type="button" class="btn btn-outline apply">
                    Post Comment
                </button>
            </div>
        </div>
    </div>
</div>



<div class="container mt-3">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        @foreach (var item in Model.stories)
        {
            <div class="col">
                <div class="card ">

                    <div class="bg">
                        <img src=~/images/@item.StoryMedia.FirstOrDefault()?.Path class="banner1"
                         class="card-img-top" alt="...">
                        <div class="banner-header d-flex justify-content-center ">
                            <div class="  apply2">
                                <button type="button" class="btn btn-outline apply " style="margin-bottom: 200px;  ">
                                    Post Comment
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@item.Title</h5>
                        <p class="card-text">
                           @item.Description
                        </p>


                        <div class="col-12">
                            <div class="row mt-3" style="background-color: white">
                                <div class="col-12 d-flex justify-content-start align-items-start">
                                    <img src="images/volunteer1.png" style="border-radius: 50%; height: 4.5em;" alt="">
                                    <span class="d-flex justify-content-center  mt-4 ms-3"> @item.User.FirstName @item.User.LastName</span>
                                </div>

                            </div>

                        </div>
                    </div>


                </div>
            </div>
        }

        @* <div class="col">
            <div class="card ">

            <div class="bg">
            <img src="images/Grow-Trees-On-the-path-to-environment-sustainability-1.png" class="banner1"
            class="card-img-top" alt="...">
            <div class="banner-header d-flex justify-content-center ">
            <div class="  apply2">
            <button type="button" class="btn btn-outline apply " style="margin-bottom: 200px;  ">
            Post Comment
            </button>
            </div>
            </div>
            </div>
            <div class="card-body">
            <h5 class="card-title">Education Supplies for Every Pair of Shoes Sold</h5>
            <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore...
            </p>


            <div class="col-12">
            <div class="row mt-3" style="background-color: white">
            <div class="col-12 d-flex justify-content-start align-items-start">
            <img src="images/volunteer1.png" style="border-radius: 50%; height: 4.5em;" alt="">
            <span class="d-flex justify-content-center  mt-4 ms-3"> Margaret Walsh</span>
            </div>

            </div>

            </div>
            </div>


            </div>
            </div>*@
    </div>
</div>
